MYSQL_ROOT_PASSWORD=password
MYSQL_PASSWORD=password
MYSQL_USER=user
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@127.0.0.1:3306/polylang
PRISMA_DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@127.0.0.1:3306/polylang